#aboutUs {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--white-00);
	position: relative;
	width: 100%;
}

.activitys {
	display: flex;
	justify-content: center;
	background-image: url("../images/bg/BG\ aboutUs.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: padding-box;
	background-position: center;
	height: 80%;
	width: 100%;
}

.contentActivitys {
	display: flex;
	width: 90%;
	align-items: center;
	justify-content: space-around;
}

.activityCards {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	width: 50%;
}

.activityCards h2 {
	color: var(--blue-00);
	font-size: 5rem;
	z-index: 10;
}
.activityCards h2::after {
	content: ""; /* Adiciona conteúdo ao elemento criado */
	display: block; /* Faz com que o elemento seja exibido como um bloco */
	width: 7.5rem; /* Define a largura do elemento como 100% do elemento pai */
	height: 7px; /* Define a altura do traço */
	background-color: var(--blue-03); /* Cor do traço */
	margin-top: 5px;
}

.activityCard {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--white-00);
	border-radius: 1.3rem;
	padding: 2.1rem;
	gap: 1rem;
	z-index: 9;

	background: #ffffff;
	box-shadow: 37px 37px 74px #dedede, -25px -25px 50px #ededed;
	-webkit-box-shadow: 37px 37px 74px #dedede, -25px -25px 50px #ededed;
	-moz-box-shadow: 37px 37px 74px #dedede, -25px -25px 50px #ededed;
}

.titleActivityCard {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	align-items: center;
}

.titleActivityCard h4 {
	color: var(--blue-01);
	font-size: 2.2rem;
}

.titleActivityCard img {
	height: 3rem;
}

.activityCard p {
	color: var(--blue-00);
	font-size: 1.8rem;
	font-weight: 500;
}

.activityImages {
	display: flex;
	position: relative;
	height: 52rem;
	width: 54rem;
}

.activityImages img {
	border-radius: 1.5rem;
	filter: drop-shadow(0px 4px 8px #00000059);
}

.img1 {
	position: absolute;
	top: 0;
	left: 0;
	height: 30rem;
	width: auto;
}

.img2 {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 26rem;
	width: auto;
}

.aboutUsFooter {
	z-index: 10;
	display: flex;
	justify-content: center;
	width: 100%;
	background: var(--blue-00);
	background: linear-gradient(90deg, var(--blue-00) 0%, var(--blue-01) 100%);
}

.contentAboutUsFooter {
	align-items: center;
	width: 90%;
	gap: 4rem;
	display: flex;
	justify-content: space-evenly;
	padding: 3rem 0;
}

.textKnowUs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.textKnowUs h3 {
	font-size: 4rem;
	color: var(--white-00);
	text-align: left;
}

.textKnowUs p {
	font-size: 3rem;
	font-weight: 500;
	color: var(--white-00);
}

.aboutUsFooter a {
	display: flex;
	/* height: 6rem; */
	/* width: 31rem; */
	text-decoration: none;
}

.buttonContact02 {
	height: 6rem;
	width: 31rem;
	cursor: pointer;
	display: flex;
	font-family: "Montserrat";
	justify-content: center;
	align-items: center;
	font-size: 2.8rem;
	font-weight: 600;
	color: var(--blue-01);
	border-radius: 1rem;
}
