.segments {
	width: 100%;
}
.contentClient {
	height: auto;
	/* min-height: 100vh; */
	width: 100%;
}

.ourClients {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: auto;
	gap: 3rem;
	padding: 4rem 0;
}

.ourClients h2 {
	font-size: 5rem;
	/* margin-top: 3rem; */
	color: var(--blue-00);
	text-align: center;
}

.clientsLogos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 80%;
	gap: 3rem;
}

.client {
	display: flex;
	width: 16rem;
	height: 16rem;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	border-radius: 1.5rem;
	box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.29);
	-webkit-box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.29);

	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		scale: 1.03;
	}
}

.piratininga {
	background-color: #313624;
}

.client img {
	width: 12rem;
	height: auto;
}

.client p {
	font-size: 2.4rem;
	font-style: italic;
	font-weight: 700;
	color: var(--gray-00);
	text-align: center;
}

.feedbackAndInvitation {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-image: url("../images/bg/bg-clients.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-size: cover;
	padding: 3rem 0;
}

.feedbackAndInvitation h3 {
	text-align: center;
	color: var(--blue-00);
	font-size: 3.2rem;
	width: 100%;
}

.invitationFeedback {
	display: flex;
	flex-direction: column;
	width: 40%;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
}
.invitationFeedback h3 {
	z-index: 2;
}

.cardInvitation {
	/* margin-top: -1rem; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--white-00);
	padding: 3.9rem 3.1rem;
	border-radius: 1rem;
	max-width: 44rem;
	width: 100%;
	gap: 2rem;
}
.cardInvitation a {
	width: 100%;
}
.cardInvitation p {
	text-align: center;
	color: var(--blue-00);
	font-size: 2.6rem;
	font-weight: 600;
}

.btnCtcFeedback {
	width: 100%;
	height: 6.6rem;
	font-size: 2.6rem;
}

.segments {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--blue-00);
	padding: 3rem 0;
}

.contentSegments {
	display: flex;
	width: 80%;
	gap: 4rem;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.contentSegments h2 {
	color: var(--white-00);
	font-size: 5rem;
	text-align: center;
}

.cardsSegments {
	display: flex;
	gap: 6rem;
	justify-content: space-between;
	align-content: space-between;
	width: 100%;
}

.cardSegment {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-size: 2.4rem;
	color: var(--white-00);
	font-weight: 500;
	gap: 1.6rem;
	width: 19rem;
	height: 22rem;
	border-radius: 1rem;

	background: var(--blue-04);
	background: -moz-linear-gradient(
		15deg,
		var(--blue-04) 0%,
		var(--blue-01) 100%
	);
	background: -webkit-linear-gradient(
		15deg,
		var(--blue-04) 0%,
		var(--blue-01) 100%
	);
	background: linear-gradient(15deg, var(--blue-04) 0%, var(--blue-01) 100%);

	transition: all 0.2s ease-in-out;

	&:hover {
		scale: 1.04;
	}
}

.gn {
	grid-area: gn;
}
.pc {
	grid-area: pc;
}
.lc {
	grid-area: lc;
}
.pg {
	grid-area: pg;
}
.cm {
	grid-area: cm;
}

.pg,
.cm {
	justify-self: center;
	align-self: center;
}

.cardSegment img {
	width: 10rem;
	height: auto;
}
