footer {
	display: flex;
	width: 100%;
	height: 42rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--white-00);
	position: relative;
}

.contentFooter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "CTL CTC CTR";
	/* justify-content: space-between; */
	/* gap: 3rem; */
	width: 90%;
	height: 21rem;
}

.contentLeft,
.contentCenter {
	border-right: 0.3rem solid var(--blue-00);
}

.contentLeft {
	grid-area: CTL;
}

.contentCenter {
	grid-area: CTC;
}

.contentRight {
	grid-area: CTR;
}

.contentLeft,
.contentCenter,
.contentRight {
	display: flex;
	flex-direction: column;
	padding: 0 5rem;
}

.contentLeft {
	display: flex;
	justify-content: space-between;
	align-content: start;
	flex-direction: column;
}

.contentLeft img {
	width: 22rem;

	transition: all 0.3s ease-in-out;

	&:hover {
		scale: 1.04;
	}
}

.btnCtcFooter {
	text-decoration: none;
	width: 100%;
	/* width: 22rem; */
	font-weight: 600;
	font-size: 2.4rem;
	text-align: center;
	border: 0.3rem solid var(--blue-00);
	padding: 1.6rem 0;
	border-radius: 1rem;
	position: relative;
	color: var(--blue-00);
	transition: all 0.4s ease-in-out;

	&:hover {
		background-color: var(--blue-00);
		color: white;
		scale: 1.04;
	}
}

.listSections {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	height: 100%;
}
.listSections li {
	transition: all 0.2s ease-in-out;

	&:hover {
		scale: 1.03;
	}
}
.listSections li a {
	text-decoration: none;
	color: var(--blue-00);
	font-size: 2.4rem;
	font-weight: 600;
}

.contentRight {
	justify-content: end;
	text-align: right;
}

.contentRight ul {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column;
}

.contentRight ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	transition: all 0.2s ease-in-out;

	&:hover {
		scale: 1.03;
	}
}

.contentRight ul li a {
	text-decoration: none;
	color: var(--blue-00);
	font-size: 2.4rem;
	font-weight: 600;
}

.contentRight ul li img {
	width: 3rem;
	height: auto;
}

.loc {
	height: auto;
	width: 8rem;
}

.developed {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 80%;
	border-top: 1px solid var(--blue-00);
	padding: 1rem;
}

.developed p {
	color: var(--blue-00);
	text-align: center;
	font-weight: 600;
	opacity: 0.7;
	font-size: 1.8rem;
}

.developed p a {
	color: var(--blue-00);
	font-style: italic;
}
