:root {
	--white-00: #ffffff;
	--white-01: #e2e2e2;
	--black-00: #000;
	--gray-00: #616161;
	--blue-00: #004662;
	--blue-01: #0a7da5;
	--blue-02: #0a71a5;
	--blue-03: #54abdb;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: baseline;
	list-style: none;
	border: 0;
}

html {
	/* a cada 1rem será considerado 10px */
	font-size: 62.5%;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: "Montserrat";
}

body {
	font-size: 1.6rem;
}

.content {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.buttonContact01 {
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 2rem;
	background: #0a71a5;
	background: linear-gradient(90deg, #0a71a5 0%, #54abdb 100%);
	color: var(--white-00);
	padding: 1rem 2.2rem;
	border-radius: 1rem;
	cursor: pointer;
}
