#home {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	/* padding-top: 80px; */
	background-image: url("/assets/images/bg/BG-1\ 1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: padding-box;
	background-position: center;
	/* background: fixed url("/assets/images/bg/BG-1\ 1.png"); */
}

.homeContainer {
	bottom: 0;
	display: grid;
	width: 80%;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	align-content: space-between;
	height: 65%;
}

.title h1 {
	font-size: 5.8rem;
	color: var(--white-00);
}

.companyName {
	display: none;
}

.title img {
	width: 38.5rem;
}

.welcome,
.invitation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 3rem;
}

.welcome {
	gap: 2rem;
}
.welcome p {
	color: var(--white-00);
	font-size: 2rem;
	font-weight: 500;
	/* width: 50rem; */
	width: 100%;
}

.invitation {
	text-align: right;

	gap: 2rem;

	filter: drop-shadow(0px 4px 10px #0000004d);
}

.invitation h2 {
	font-size: 3.2rem;
	color: var(--white-00);
}

.arrow {
	background-color: #ffffff00;
	margin-bottom: 2.4re
	padding: 0.9rem;
	cursor: pointer;
	transition: all 0.15s linear;
}

.arrow:hover {
	transform: translateY(5px) scaleX(0.95);
}

.btnCtcHome {
	/* scale: 1.2; */
}
