@media screen and (max-width: 1440px) {
	/*   
    

  ESPAÇO DEDICADO A NAVBAR



   */

	#home {
		.homeContainer {
			width: 90%;
			gap: 1rem;

			.title h1 {
				font-size: 4rem;
			}
			.title img {
				width: 30rem;
			}
			.welcome,
			.invitation {
				padding: 0;
			}
			.welcome {
				gap: 1.5rem;
			}
			.welcome p {
				font-size: 1.6rem;
			}
		}
	}
}
