/* para telas menores que 1440px */
@media screen and (max-width: 1440px) {
	/*   
	*/

	#home {
		.homeContainer {
			width: 90%;
			gap: 1rem;

			.title h1 {
				font-size: 4rem;
			}
			.title img {
				width: 30rem;
			}
			.welcome,
			.invitation {
				padding: 0;
			}
			.welcome {
				gap: 1.5rem;
			}
			.welcome p {
				font-size: 2rem;
			}
		}
	}

	#aboutUs {
		.contentActivitys {
			width: 90%;
			justify-content: space-between;
		}

		.activitys {
		}

		.activityCard {
			width: 45rem;
			padding: 1.5rem;

			.titleActivityCard h4 {
				font-size: 1.8rem;
			}

			.titleActivityCard img {
				height: 2.4rem;
			}
		}

		.activityCard p {
			font-size: 1.4rem;
		}

		.activityImages {
			height: 42rem;
			width: 42rem;
		}

		.img1 {
			height: 23rem;
		}
		.img2 {
			height: 21rem;
		}

		.aboutUsFooter {
			gap: 2rem;
			padding: 0 2rem;

			.textKnowUs h3 {
				font-size: 3.5rem;
			}
			.textKnowUs p {
				font-size: 2.6rem;
			}
		}
	}
}

/* para telas menores que 1024px */
@media screen and (max-width: 1024px) {
	.navBar ul {
		display: none;
	}

	#home {
		.homeContainer {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.title h1 {
				font-size: 5rem;
			}

			.title img {
				width: 35rem;
			}

			.welcome p {
				max-width: 65rem;
			}
		}
	}
}

/* para telas menores que 768px */
@media screen and (max-width: 768px) {
	#home {
		.homeContainer {
			.invitation h2 {
				font-size: 2.8rem;
			}
			.welcome p {
				font-size: 1.8rem;
			}
		}
	}
}

/* para telas menores que 425px */
@media screen and (max-width: 425px) {
	#home {
		gap: 5rem;
		.homeContainer {
			.title h1 {
				font-size: 4.5rem;
			}
			.title img {
				width: 30rem;
			}
			.welcome p {
				font-size: 1.6rem;
			}
			.invitation h2 {
				font-size: 1.9rem;
			}
			.arrow img {
				width: 6rem;
				height: auto;
			}
		}
	}
}

/* para telas menores que 375px */
@media screen and (max-width: 375px) {
	#home {
		.homeContainer {
			.title h1 {
				font-size: 4rem;
			}
			.title img {
				width: 28rem;
			}
			.welcome p {
				font-size: 1.4rem;
			}
			.invitation h2 {
				font-size: 1.6rem;
			}

			.arrow img {
				width: 4.5rem;
				height: auto;
			}
		}
	}
}
