.navBar {
	display: flex;
	position: absolute;
	top: 0;
	justify-content: space-between;
	align-items: center;
	padding: 0 100px;
	height: 80px;
	width: 100%;
	background-color: var(--white-00);

	-webkit-box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.1);
}

.navBar ul {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	gap: 30px;
}

.navBar ul li a {
	text-decoration: none;
	color: var(--blue-00);
	font-weight: 600;
	font-size: 2rem;
}

.logoNavBar {
	height: 60px;
}
