header {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	background-color: var(--white-00);
	-webkit-box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.1);
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 80%;
}

.navBarOptions {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	gap: 30px;
	width: 100%;
}

.navBarOptions li a {
	text-decoration: none;
	color: var(--blue-00);
	font-weight: 600;
	font-size: 2rem;
}

.logoNavBar {
	height: 60px;
}
